{% extends 'base.html' %}

{% block content %}
    <div class="main_platform">
        <div class="main_block">
            <div class="post_about_block">
                <div>
                    <h3>{{ post.title }}</h3>
                    <ul>
                        <li>{{ post.content }}</li>
                        <li>Автор поста: {{ post.author }}</li>
                        <li>Создано: {{ post.created_at }}</li>
                    </ul>
                </div>
                <div>
                    <img class="post_about_images" src="{{ post.image.url }}" alt="post_image">
                </div>
            </div>
            <br>
            <div class="create_delete_block">
            {% if request.user == post.author %}
                <a style="margin-right: 13px;" class="create_button" href={% url 'post_update' post.pk %}>Редактировать</a>
                <a style="margin-right: 13px;" class="delete_button" href={% url 'post_delete' post.pk %}>Удалить</a>
            {% endif %}
            </div>
            <br>
            <div>
                <h3>Комментарии</h3>
                {% for i in one %}
                <p><b>{{ i.author }}: </b>{{ i.content }} {% if request.user == i.author %} <a style="color: coral; font-size: small;" class="post_link" href={% url 'comment_about' i.pk %}>Редактировать</a>{% endif %}</p>
                {% endfor %}
            </div>
            <div class="create_comment_block">
                <a class="create_button" href={% url 'comment_create' %}?post={{post.id}}>Оставить комментарий</a>
            </div>
        </div>
    </div>
    
{% endblock %}
